@import url(https://fonts.googleapis.com/css?family=Carter+One);
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100% color: white;
    font-family: 'Open Sans', 'Calibri';
    overflow: auto;
}

button {
    cursor: pointer;
}

h1.title {
    font-size: 32px;
    margin-bottom: 2em;
}

h1 {
    font-family: 'Open Sans', 'Calibri' !important;
}

h2 {
    font-family: 'Open Sans', 'Calibri' !important;
    margin-top: 20px;
}

h3 {
    font-family: 'Open Sans', 'Calibri' !important;
    margin-top: 20px;
}

label {
    font-family: 'Open Sans', 'Calibri' !important;
    color: Black;
    font-weight: normal !important;
}

.hovered {
    background-color: blue !important;
}

.page-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.side-bar {
    float: left;
    height: 100%;
    width: 100%;
    background-color: rgb(4, 53, 101);
    z-index: 10;
    overflow: auto;
}

.side-item-box {
    display: block;
    width: 90%;
    margin: 1em auto;
}

.side-item {
    display: block;
    /*margin: 1em auto;*/
    width: 100%;
    height: 50px;
    /*background-color: black;*/
}

.side-item.title,
.side-item.upload-button,
.side-item.description {
    /*background-color: white;*/
}

.side-item.graph {
    height: 500px;
    margin-bottom: 20px;
}

.move-button {
    width: 15%;
    margin-left: 90%;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    z-index: 0;
    float: right;
}

.wrap {
    overflow: hidden;
    /*padding: 20px 50px;*/
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
    background-color: white;
}

.wrap .content {
    opacity: 0;
    margin: 0px !important;
    background-color: white !important;
    width: 100%;
    height: 100%;
    padding: 20px 20px 5px 20px;
}

#select-area-wrap {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 85px;
    left: 10%;
    border-radius: 0 !important;
}

#area-attributes-div {
    position: fixed;
    bottom: 4%;
    right: 0%;
    height: 400px;
    width: 330px;
    overflow-y: auto;
    background-color: white !important;
}

#topography-wrap {
    position: absolute;
    top: 10%;
    left: 0%;
    height: 70%;
    width: 40%;
}

.wrap#area-attributes-div .top-right-buttons {
    top: -5px;
}

#close-button,
#close-sidebar-button {
    border: none;
    color: red;
    font-size: 30px;
}

.top-right-buttons {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 3;
}

#graph-div-button {
    border: none;
    color: red;
    font-size: 30px;
}

.wrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
    z-index: 2;
}

.wrap.active:before {
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active .content {
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.wrap.active.toggled .content {
    display: none;
}

#popupButton {
    outline: none;
    font-size: 12px;
    transition: transform 0.25s;
}

#popupButton:hover {
    text-decoration: none;
    background: #2198ff;
}

#popupButton.active {
    transform: rotate(135deg);
    transition: transform 0.5s;
}


#map {
    width: 100%;
    height: 100%;
}

#input {
    color: coral;
    font-family: 'Open Sans', cursive;
}

.accordion {
    background: DeepSkyBlue;
    border-bottom: 1px solid DodgerBlue;
    border-radius: 7px 7px 0 0;
    color: white;
    font-size: 1.5em;
    margin-top: 0.222em;
    padding: 0.5em 1em;
}

.accordion dd {
    border: 1px solid DeepSkyBlue;
    border-top: none;
    border-radius: 0 0 7px 7px;
    paddig: 1em;
}

button.accordion {
    /*background-color: #eee;
    color: #444;*/
    background-color: DeepSkyBlue;
    border-bottom: 1px solid DodgerBlue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: orange;
    color: black;
}

div.panel {
    padding: 0 18px;
    display: none;
    color: white;
    border: 1 px solid orange;
}

div.panel.show {
    border: 1px solid orange !important;
    display: block !important;
    color: white !white;
}

div.panel.show > p {
    color: black;
}

button {
    font-family: 'Open Sans', 'Calibri'
}

p.ul {
    color: black !important;
}

div.menu {
    margin-top: 2em;
}

#search-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
}

#search-bar .input-group {
    margin: 10px 0 0 10px;
    max-width: 240px;
}

#top-map-buttons {
    position: absolute;
    top: 10px;
    left: 205px;
    z-index: 99;
    width: 50%;
    height: 50px;
}

#top-map-buttons > div {
    margin-left: 10px;
    border-radius: 5px;
    float: left;
    z-index: 99;
}

#map-type-menu {
    background: #fff;    
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    min-height: 34px;
}

#overlay-options-wrapper {
    width: 200px;
    height: 34px;
}

#overlay-options-toggles {
    width: 100%;
}

#overlay-options-toggles .overlay_toggle {
    width: 50%;
}

#overlay-options {
    font-family: 'Open Sans', sans-serif;
    z-index: 99;
    border-radius: 4px;
    background-color: white;
    height: 100%;
}

#overlay-slider {
    height: 10px;
    width: 50px;
    bottom: 0px;
    background: coral;
}

#information-div {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
}

#information-div.active {
    display: block;
}

#information-div-contents {
    width: 100%;
    max-width: 640px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#top-map-buttons button {
    background-color: white;
}

.logos {
    margin: 2em;
}

.logo2 {
    margin-left: 4em;
}

.funding {
    color: white;
    margin-left: 2em;
}

.overlay_toggle {
    float: left;
    display: inline-block;
    width: 100%;
}

#map-options .overlay_toggle {
    width: 25%;
}


/*disable compass in nav controls*/

.mapboxgl-ctrl-compass {
    display: none !important;
}

.boxdraw {
    background: rgba(56, 135, 190, 0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#polygon-button-div {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    z-index: 99;
    left: 10px;
    top: 55px;
    border-radius: 10px;
}

#polygon-button {
    padding: 0 !important;
}

#color-scale {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 99;
}

#color-scale.active {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
}

#slideout-button {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    z-index: 99;
    left: 10px;
    top: 55px;
    border-radius: 10px;
}

.map-button {
    width: 30px;
    height: 30px;
    /*display: block;*/
    padding: 0;
    outline: none;
    border: none;
    /*box-sizing: border-box;*/
    background-color: white;
    cursor: pointer;
}

#charts {
    position: absolute;
    left: 0%;
    bottom: 5%;
    margin-top: 70px;
    height: 70%;
    width: 40%;
}

#graph-div-minimize-button {
    padding-right: 10px;
}

.chart-containers {
    width: 100%;
    height: 90%;
    float: left;
}

#chartContainer {
    width: 100%;
    height: 100%;
}

#chartContainer2 {
    display: none;
    width: 100%;
    height: 50%;
}

#graph-select-div {
    display: none;
    width: 5%;
    height: 90%;
    float: left;
}

#graph-select-div div {
    position: relative;
    height: 50%;
}

#top-graph-focus-div,
#bottom-graph-focus-div {
    position: absolute !important;
    bottom: 0px;
}

#select-graph-focus-div {
    display: none;
}

#map-options {
    width: 100%;
    height: 10%;
    max-height: 40px;
}

.hidden {
    width: 30%;
    height: 10%;
    background-color: white;
}

.hidden * {
    display: none;
}

#point-details {
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.6;
}

#areas-under-mouse-table {
    margin: 0 !important;
}

#areas-under-mouse-table td {
    display: flex;
}

.preview-attributes-button {
    text-align: center;
    border-width: 1px;
    border-style: none none none solid;
}

/*area information popup with tabs*/

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {
    float: left;
    width: 33%;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
}

ul.tab li a:hover {
    background-color: #ddd;
}

ul.tab li a:focus,
.tablinks.active {
    background-color: #ccc;
}

.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 10px !important;
}

.tabcontent h3,
.tabcontent p {
    font-size: 14px;
    font-family: "Open Sans" !important;
    color: black !important;
}

#information-div-buttom-buttons div {
    float: left;
}
