@import url(https://fonts.googleapis.com/css?family=Carter+One);
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100% color: white;
    font-family: 'Open Sans', 'Calibri';
    overflow: auto;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none !important;
}

h1.title {
    font-size: 32px;
    margin-bottom: 2em;
}

h1 {
    font-family: 'Open Sans', 'Calibri' !important;
}

h2 {
    font-family: 'Open Sans', 'Calibri' !important;
    margin-top: 20px;
}

h3 {
    font-family: 'Open Sans', 'Calibri' !important;
    margin-top: 20px;
}

label {
    font-family: 'Open Sans', 'Calibri' !important;
    color: Black;
    font-weight: normal !important;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.disable-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/*TODO: consolidate the .active classes to mainly use/remove redundant code*/

.active {
    display: block !important;
}

.page-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.side-bar {
    float: left;
    height: 100%;
    width: 100%;
    background-color: rgb(4, 53, 101);
    z-index: 10;
    overflow: auto;
}

.side-item-box {
    display: block;
    width: 90%;
    margin: 1em auto;
}

.side-item {
    display: block;
    /*margin: 1em auto;*/
    width: 100%;
    height: 50px;
    /*background-color: black;*/
}

.side-item.title,
.side-item.upload-button,
.side-item.description {
    /*background-color: white;*/
}

.side-item.graph {
    height: 500px;
    margin-bottom: 20px;
}

.move-button {
    width: 15%;
    margin-left: 90%;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#select-area-wrap {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 85px;
    left: 10%;
    border-radius: 0 !important;
}

#area-attributes-div {
    position: fixed;
    bottom: 0%;
    right: 0%;
    height: 310px;
    width: 300px;
    background-color: white !important;
    opacity: 0.8;
}

#area-attributes-div-minimize-button {
    opacity: 1.0 !important;
}

#topography-wrap {
    position: absolute;
    top: 10%;
    left: 0%;
    height: 70%;
    width: 40%;
}

.wrap#area-attributes-div .top-right-buttons {
    top: 0px;
}

#close-sidebar-button {
    border: none;
    color: red;
    font-size: 30px;
}

.top-right-buttons {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 3;
}

#graph-div-button {
    border: none;
    color: red;
    font-size: 30px;
}

.wrap {
    overflow: hidden;
    /*padding: 20px 50px;*/
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
    background-color: white;
}

.wrap .content {
    opacity: 0;
    margin: 0px !important;
    background-color: white !important;
    width: 100%;
    height: 100%;
    padding: 0px 20px 0px 20px;
}

.wrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
    z-index: 99;
}

.wrap.active:before {
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active .content {
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    overflow: auto;
}

.wrap.active.toggled .content {
    display: none;
}

#USGSEvents-options {
    position: absolute;
    width: 70%;
    max-width: 330px;
    max-height: 445px;
    margin: 0 auto;
    top: 60%;
    left: 96%;
}

#USGSEvents-options .content {
    padding-top: 30px;
}

#popupButton {
    outline: none;
    font-size: 12px;
    transition: transform 0.25s;
}

#popupButton:hover {
    text-decoration: none;
    background: #2198ff;
}

#popupButton.active {
    transform: rotate(135deg);
    transition: transform 0.5s;
}

#map {
    width: 100%;
    height: 100%;
}

#input {
    color: coral;
    font-family: 'Open Sans', cursive;
}

.accordion {
    background: DeepSkyBlue;
    border-bottom: 1px solid DodgerBlue;
    border-radius: 7px 7px 0 0;
    color: white;
    font-size: 1.5em;
    margin-top: 0.222em;
    padding: 0.5em 1em;
}

.accordion dd {
    border: 1px solid DeepSkyBlue;
    border-top: none;
    border-radius: 0 0 7px 7px;
    paddig: 1em;
}

button.accordion {
    /*background-color: #eee;
    color: #444;*/
    background-color: DeepSkyBlue;
    border-bottom: 1px solid DodgerBlue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: orange;
    color: black;
}

div.panel {
    padding: 0 18px;
    display: none;
    color: white;
    border: 1 px solid orange;
}

div.panel.show {
    border: 1px solid orange !important;
    display: block !important;
    color: white !white;
}

div.panel.show > p {
    color: black;
}

button {
    font-family: 'Open Sans', 'Calibri'
}

p.ul {
    color: black !important;
}

div.menu {
    margin-top: 2em;
}

#search-bar {
    z-index: 99;
}

#search-bar .input-group {
    max-width: 240px;
}

#top-map-buttons {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 99;
    max-width: 80%;
}

#top-map-buttons > * {
    margin-left: 10px;
    border-radius: 5px;
    float: left;
    z-index: 99;
}

#top-map-buttons > .btn {
    background-color: white;
}

#top-map-buttons a {
    color: black;
}

#map-type-menu {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    min-height: 34px;
}

#overlay-slider {
    height: 10px;
    width: 50px;
    bottom: 0px;
    background: coral;
}

.overlay-div {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.overlay-div.active {
    display: block;
}

#information-div {
    background-color: rgba(255, 255, 255, 0.5);
}

#information-div-contents {
    width: 100%;
    max-width: 640px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#loading-screen {
    background-color: rgba(0, 0, 0, 0.0);
    color: black;
    font-size: 15px;
}

#loading-screen-contents {
    height: 25%;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
}

.loading-text-div {
    height: 20%;
    max-width: 350px;
    text-align: center;
}

#loading-circle-container {
    position: relative;
    width: 100%;
    height: 60%;
}

.loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px auto auto -20px;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logos {
    margin: 2em;
}

.logo2 {
    margin-left: 4em;
}

.funding {
    color: white;
    margin-left: 2em;
}

.overlay_toggle {
    float: left;
    display: inline-block;
    width: 100%;
}

#map-options .overlay_toggle {
    width: 25%;
}

/*disable compass in nav controls*/

.mapboxgl-ctrl-compass {
    display: none !important;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.boxdraw {
    background: rgba(56, 135, 190, 0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#polygon-button-div {
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

.no-padding {
    padding: 0 !important;
}

#select-layer-button {
    padding: 0 !important;
}

#select-layer-button-div {
    min-width: 173px;
}

#select-layer-button-div:hover > #overlay-options-toggles {
    display: block;
}

#overlay-options-wrapper {
    height: 34px;
}

#overlay-options-toggles {
    width: 100%;
    background: white;
    display: none;
}

#overlay-options-toggles.active {
    display: block;
}

#overlay-options-toggles .overlay_toggle {
    width: 100%;
}

.overlay-toggle {
    height: 25px;
}

.overlay-toggle > * {
    float: left;
}

.circular-question-mark {
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: cyan;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

/* change jquery tooltip of toggle buttons to white on black */
/* also, disable max-width to allow for long links in descriptions */
.black-on-white-tooltip + .tooltip > .tooltip-inner {
    max-width: 300px;
    background-color: white;
    color: black;
    word-wrap: break-word;
}

#overlay-options {
    font-family: 'Open Sans', sans-serif;
    z-index: 99;
    border-radius: 4px;
    background-color: white;
    height: 100%;
}

#magnitude-and-arrow-scale-container {
    position: absolute;
    top: 30%;
    z-index: 98;
    background-color: rgba(255, 255, 255, 0.5);
}

.custom-scale {
    display: none;
    height: 100px;
}

.magnitude-scale-circle {
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #000000;;
}
#color-scale {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 98;
    text-align: center;
}

.minimap-color-scale {
    height: 100%;
    float: left;
}

.minimap-color-scale > .color-scale-text-div {
    font-size: 15px;
}

#lat-vs-long-time-color-scale > .color-scale-text-div, #cross-section-time-color-scale > .color-scale-text-div {
    padding-left: 35px;
}

#lat-vs-long-depth-color-scale > .color-scale-text-div, #cross-section-depth-color-scale > .color-scale-text-div {
    width: 100%;
    text-align: right;
}

#lat-vs-long-depth-color-scale, #cross-section-depth-color-scale {
    width: 40%;
}

#lat-vs-long-time-color-scale, #cross-section-time-color-scale {
    width: 60%;
}

#color-scale.active {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    height: 45%;
}

.color-scale-text-div {
    height: 10%;
}

#color-scale .color-scale-text-div {
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
}

.color-scale-main-container {
    height: 90%;
}

.color-scale-picture-div {
    width: 35px;
    height: 100%;
    float: left;
}

.color-scale-picture-div > img {
    width: 100%;
    height: 100%;
}

.color-scale-and-values-container {
    height: 100%;
    margin: 0 auto;
}

.scale-values {
    position: relative;
    width: 40px;
    float: left;
    height: 100%;
}

.left-scale-minimum,
.right-scale-maximum {
    position: absolute;
    width: 100%;
}

.right-scale-maximum {
    top: 0;
}

.left-scale-minimum {
    bottom: -15px;
}

.scale-values .form-group > input {
    padding: 0;
}

#lat-vs-long-depth-color-scale .color-scale-and-values-container, #cross-section-depth-color-scale .color-scale-and-values-container {
    float: right;
}


/*remove the up/down spinners on the number input*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#slideout-button {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    z-index: 99;
    left: 10px;
    top: 55px;
    border-radius: 10px;
}

.map-button {
    width: 30px;
    height: 30px;
    /*display: block;*/
    padding: 0;
    outline: none;
    border: none;
    /*box-sizing: border-box;*/
    background-color: white;
    cursor: pointer;
}

.highcharts-container {
    width: 100% !important;
    height: 100% !important;
}

#charts {
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 70%;
    width: 40%;
}

#seismicity-charts {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 100%;
    max-width: 768px;
}

#cross-section-charts {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 50%;
}

.seismicity-chart {
    height: 33%;
    width: 100%;
}

#seismicity-chart-sliders {
    position: absolute;
    left: 10%;
    width: 30%;
    bottom: 0%;
    height: 210px;
}

.seismicity-chart-slider {
    height: 45px;
    margin-bottom: 5px
}

.seismicity-chart {
    position: relative;
}

.seismicity-charts-container {
    height: 100% !important;
    padding-top: 20px;
}

.seismicity-chart-set-coloring-button {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    padding: 0 !important;
}

#cumulative-events-vs-date-container .seismicity-chart-set-coloring-button {
    position: static;
}

#cumulative-events-vs-date-chart-buttons-container {
    position: absolute;
    top: 0;
    left: 70px;
}

#cumulative-events-vs-date-chart-buttons-container > button {
    float: left;
    padding: 0 !important;
    margin-right: 10px;
}

/* make the chart containers relative by default so we can position
    buttons absolutely which change their coloring */
.seismicity-chart > div {
    position: relative;
}
/*we use pos absolute because we reduce size of map and center it vertically
to get it to exactly match the axes of the lat and long vs depth plots*/

/*we could use flexbox, but I rather not use new fancy features.
see: https://css-tricks.com/centering-css-complete-guide/*/

/*for now, leave it pos absolute. not sure if he just wanted the axes
of plots to match up with min and max lat and long of map, or if he physically
wanted minimap to exactly be aligned with axes of plots (or both?). For now, I think he just wants min and max
lat and long of plots to match minimap.
TODO: ask him, as exactly matching physically will take logic, and if he doesnt want it, will be wasted time*/

.seismicity-chart > div.side-by-side {
    position: absolute;
    width: 50%;
    height: 100%;
}

.seismicity-chart > div.side-by-side:first-child {
    left: 0;
}

.seismicity-chart > div.side-by-side:nth-child(2) {
    right: 0;
}

.seismicity-chart .chart, .cross-section-chart .chart {
    height: 100%;
}

.cross-section-chart {
    position: relative;
    width: 100%;
    height: 33%;
}

#cumulative-events-vs-date-container div {
    float: left;
}

#cumulative-events-vs-date-graph {
    width: 90%;
}

#lat-vs-long-graph {
    height: 80%;
    width: 80%;
    float: right;
}

#graph-div-minimize-button {
    margin-right: 10px;
    margin-top: 6px;
}

.chart-containers {
    width: 100%;
    height: 90%;
    float: left;
}

#chartContainer {
    width: 100%;
    height: 100%;
}

#chartContainer2 {
    display: none;
    width: 100%;
    height: 50%;
}

#graph-select-div {
    display: none;
    width: 5%;
    height: 90%;
    float: left;
}

#graph-select-div div {
    position: relative;
    height: 50%;
}

#top-graph-focus-div,
#bottom-graph-focus-div {
    position: absolute !important;
    bottom: 0px;
}

#select-graph-focus-div {
    display: none;
}

#map-options {
    width: 100%;
    height: 10%;
    max-height: 40px;
}

#download-as-text-button > button {
    border: solid;
    background-color: white;
    border-width: 1px;
}

.hidden {
    width: 30%;
    height: 10%;
    background-color: white;
}

.hidden * {
    display: none;
}

#point-details {
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.6;
}

#hidden-search-bars-container {
    display: none;
}

#toggle-other-bars > div {
    position: absolute;
    display: block;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#search-form-and-results-container {
    /* hide by default */
    display: none;
    width: 35%;
    height: 35%;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 90px;
    /* don't overlap with colorscale div */
    background: white;
}

#search-form {
    width: 20%;
    float: left;
}

#search-form .form-group {
    margin-bottom: 0 !important;
    background-color: white;
}

#search-form .form-group .form-control {
    width: 70% !important;
    float: left;
}

#search-form-results {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

#subset-swath-popup {
    position: fixed;
    display: none;
    height: 30%;
    width: 50%;
    float: left;
    overflow-y: auto;
    z-index: 99;
    background-color: white;
}

#subset-swath-table > thead > tr {
    background-color: gray;
    color: white;
}

#subset-swath-table td {
    word-break: break-all;
    border-bottom: 1px solid #eee;
}

#search-form-results-table {
    font-size: 12px;
}

#search-form-results-table td {
    position: relative;
}

#search-form-and-results-minimize-button {
    position: fixed;
}

.flight-direction {
    height: 30px;
    float: left;
}

.show-children-button {
    position: absolute;
    top: 50%;
    left: 50%;
}

.minimize-button,
.maximize-button {
    display: block !important;
    padding: 0 !important;
    border: 0 !important;
    width: 16px;
    height: 16px;
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-neptune/resources/images/tools/tool-sprites.png) !important;
    background-color: grey;
}

.minimize-button {
    background-position: 0 -208px;
}

.maximize-button {
    background-position: 0 -224px;
}

.maximize-buttons-container {
    position: absolute;
    right: 50%;
    bottom: 10px;
    z-index: 98;
}

#seismicity-maximize-buttons-container, #insar-maximize-buttons-container {
    display: none;
}

.maximize-buttons-container > .btn.btn-primary {
    background-color: white !important;
    border: none;
    float: left;
}

.maximize-button-container {
    width: 33%;
    height: 16px;
    float: left;
}

.maximize-button-container {
    width: 16px;
    height: 16px;
    background-color: #b8b8b8;
    display: inline-block;
    margin: 0 4px 0 4px;
}

.clickable-button:active {
    background-color: #dcdee2 !important;
}

#areas-under-mouse-table {
    margin: 0 !important;
}

#areas-under-mouse-table td {
    display: flex;
}

.preview-attributes-button {
    text-align: center;
    border-width: 1px;
    color: white;
}

.mapboxgl-popup {
    opacity: 0.8;
    /*width: 170px;*/
}


/*take out popup area name table top line*/

.mapboxgl-popup-content tr td {
    border-top: none !important;
}


/*area information popup with tabs*/

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    position: fixed;
    width: 87%;
    height: 45px;
}

ul.tab li {
    float: left;
    width: 25%;
}

ul.tab li a {
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12px;
}

ul.tab li a:hover {
    background-color: #ddd;
}

ul.tab li a:focus,
.tablinks.active {
    background-color: #ccc;
}

.tabcontent {
    /*display: none;*/
    padding-top: 45px;
    border-bottom: 1px solid #ccc;
    border-top: none;
    font-size: 10px !important;
}

.tabcontent h3,
.tabcontent p {
    font-size: 14px;
    font-family: "Open Sans" !important;
    color: black !important;
}

#information-div-buttom-buttons div {
    float: left;
}


/* fixed table headers */

section.fixed-header-table {
    height: 100%;
    position: relative;
    border: 1px solid #000;
    padding-top: 37px;
    background: gray;
}

section.fixed-header-table.positioned {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100%;
    box-shadow: 0 0 15px #333;
}

.fixed-header-table-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: white;
}

.fixed-header-table-container table {
    border-spacing: 0;
    width: 100%;
}

.fixed-header-table-container td + .fixed-header-table-container td {
    /*border-left: 1px solid #eee;*/
}

.fixed-header-table-container td,
.fixed-header-table-container th {
    border-bottom: 1px solid #eee;
    color: #000;
    border-left: 10px;
}

.fixed-header-table-container th {
    height: 0 !important;
    line-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: transparent;
    border: none;
    white-space: nowrap;
}

.fixed-header-table-container th div {
    position: absolute;
    background: transparent;
    color: #fff;
    padding: 9px 25px;
    top: 0;
    margin-left: -25px;
    line-height: normal;
    border-left: 1px solid white;
    font-size: 12px;
}

.fixed-header-table-container th:first-child div {
    border: none;
}


/* -------------------------------------------------- */
