@import url(https://fonts.googleapis.com/css?family=Carter+One);
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

.page-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.side-bar {
    float: left;
    height: 100%;
    width: 33%;
    background-color: rgb(4, 53, 101);
    z-index: 10;
    overflow: auto;
}

.side-item-box {
    display: block;
    width: 90%;
    margin: 1em auto;
}

.side-item {
    display: block;
    /*margin: 1em auto;*/
    width: 100%;
    height: 50px;
    /*background-color: black;*/
}

.side-item.title,
.side-item.upload-button,
.side-item.description {
    /*background-color: white;*/
}

.side-item.graph {
    height: 250px;
    background-color: black;
    margin-bottom: 20px;
}

#chart {
    width: 100%;
    height: 100%;
}

.move-button {
    width: 15%;
    margin-left: 90%;
}

#map-container {
    width: 67%;
    height: 100%;
    /*position: absolute;*/
    z-index: 0;
    float: right;
}

#map {
    width: 100%;
    height: 100%;
}

h1.title {
    font-size: 32px;
    margin-bottom: 2em;
}

h1 {
    font-family: 'Carter One', cursive;
    color: coral;
}

h2 {
    font-family: 'Carter One', cursive;
    margin-top: 20px;
    color: coral;
}

label {
    color: coral;
    font-family: 'Carter One', cursive;
}

#input {
    color: coral;
    font-family: 'Carter One', cursive;
}


/*.accordion,
        .accordion dt,
        .accordion dd,
        .accordion figure{

          margin:0;
          padding:0;
        }*/

.accordion {
    background: DeepSkyBlue;
    border-bottom: 1px solid DodgerBlue;
    border-radius: 7px 7px 0 0;
    color: white;
    font-size: 1.5em;
    margin-top: 0.222em;
    padding: 0.5em 1em;
}

.accordion dd {
    border: 1px solid DeepSkyBlue;
    border-top: none;
    border-radius: 0 0 7px 7px;
    paddig: 1em;
}

button.accordion {
    /*background-color: #eee;
          color: #444;*/
    background-color: DeepSkyBlue;
    border-bottom: 1px solid DodgerBlue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: orange;
    color: black;
}

div.panel {
    padding: 0 18px;
    display: none;
    color: white;
    border: 1 px solid orange;
}

div.panel.show {
    border: 1px solid orange;
    display: block !important;
    color: white;
}

button {
    font-family: 'Carter One', cursive;
}

p.ul {
    color: black;
}

div.menu {
    margin-top: 2em;
}

#map-type-menu {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 4em;
}

.logos {
    margin: 2em;
}

.logo2 {
    margin-left: 4em;
}

label {
    color: white;
}

.funding {
    color: white;
    margin-left: 2em;
}

#map-type-menu input[type="radio"]:checked + label {
    color: coral;
}

.overlay_toggle>* {
    display: inline-block;
    float: left;
}

.toggle-button {
    background-color: white;
    margin: 5px 0;
    border-radius: 20px;
    border: 2px solid #D0D0D0;
    height: 14px;
    cursor: pointer;
    width: 50px;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    margin-left: 2em;
}

.toggle-button button {
    cursor: pointer;
    outline: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: white;
    float: left;
    margin: -3px 0 0 -3px;
    border: 2px solid #D0D0D0;
    transition: left 0.3s;
}

.toggle-button-selected {
    background-color: coral;
    border: 2px solid coral;
}

.toggle-button-selected button {
    left: 37px;
    top: 0;
    margin: 0;
    border: none;
    width: 20px;
    height: 22px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}
