@media screen and (max-width: 590px) {
    #charts {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 710px) {
    #top-map-buttons {
        max-width: 80%;
    }
}

